.profile-background {
    background: #f2f2f2;
    display: flex;
    padding-top: 60px;
    width: 100%;
    justify-content: center;
}
.profile-profile {
    display: flex;
    background: white;
    height: 200px;
    width: 300px;
    align-items: center;
    justify-content: space-around;
}
.profile-top {
    display: flex;
    background: white;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}

.name {
    font-size: 14px;
}

.profile-header{
    position: absolute;
}
.profile-lorem {
    background: white;
    width: 400px;
    height: 200px;
}

.pic-div {
    padding-left: 10px;
}
.profile-profile-pic {
    height: 130px;
    width: 130px;
    border: 3px solid #F39B78;

}
.profile-main {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.profile-bottom {
    background: white;
    width: 100%;
    height: 80vh;
    margin-top: 30px;
}