.dashboard-background {
    background: #f2f2f2;
    display: flex;
    padding-top: 60px;
    width: 100%;
    justify-content: center;
}
.dashboard-profile {
    display: flex;
    background: white;
    height: 150px;
    width: 300px;
    align-items: center;
    justify-content: space-around;
}
.dashboard-top {
    display: flex;
    background: red;
    width: 100%;
    justify-content: space-between;
}
.dashboard-header{
    position: absolute;
}
.dashboard-lorem {
    background: white;
    width: 400px;
    height: 150px;
}
.dashboard-profile-pic {
    height: 100px;
    width: 100px;
    border: 3px solid #F39B78;
}
.dashboard-main {
    width: 45%;
    display: flex;
    flex-direction: column;
}
.dashboard-bottom {
    background: blue;
    width: 100%;
    height: 80vh;
    margin-top: 30px;
}