.dashboard-background {
    background: #f2f2f2;
    display: flex;
    padding-top: 60px;
}
.dashboard-profile {
    display: flex;
    background: white;
}
.dashboard-top {
    display: flex;
}
.dashboard-header{
    position: absolute;
}